
canvas {
    border:1px solid cadetblue;
    border-width: 4px;
    background-color:white;
}


body {
    font-family:"Century Gothic", Futura, sans-serif;
    margin: 20px;
    padding: 10px;
    color: black;
    background-color: white;
}

.content-container {
    background-color: rgb(73, 73, 73);
    display:inline-block;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    font-size: 90%;
}

.option {
    color: white;
}

button {
    color:black;
    text-align: center;
}